<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="{{ url_for('static', filename= 'Bulma/bulma.css') }}">
  <link rel="stylesheet" href="static/css/employee.css">
</head>

<body>
  <div class="box1 has-background-grey-darker has-text-white-bis  is-family-monospace is-size-1 has-text-centered ">
    Employee Information System</div>
  <center>
    <div class="box2">

      <div class=" box2 grid has-background-grey-light">
        <table class="table is-bordered">
          <tbody>

            <tr>
              <th class="is-link has-background-grey-darker">Employee ID</th>
              <th class="is-link">Last Name</th>
              <th class="is-link has-background-grey-darker">First Name</th>
              <th class="is-link">Middle Name</th>
              
            </tr>
            
            {% for employee in employees %}
            <tr>
                  <td>{{ employee[0] }}</td>
                  <td>{{ employee[1] }}</td>
                  <td>{{ employee[2] }}</td>
                  <td>{{ employee[3] }}</td>
                  
             
                  </tr>
                {%endfor %}

  </center>

  <body>
   <div class="container has-background-grey-darker has-text-white-bis is-size-1 has-text-centered ">
              EMPLOYEE LIST</div>
</body>

  <div class="fixed">
    <div class="box">Employee List</div>
    <div class="box">Personal Info</div>
    <div class="box">Education Info</div>
    <div class="box">Work Exp</div>
    <div class="box">Trainings</div>
    <div class="box">Logout</div>
  </div>
  

  </div>
  </div>
</tbody>
</table>


</body>

</html>