<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bulma/bulma.css">
    <style>
      .box{
        width: 500px;
      }
    </style>
</head>
<body>
    <center>
    <h1 class="title has-has-text-danger-dark ">LOGIN</h1>
    <form class="box has-background-link-dark">
    
        <div class="field">
          <label class="has-text-white">Username:</label>
          <div class="control">
            <input class="input" type="email" placeholder="" />
            <body>
          </div>
        </div> 
      
        <div class="field">
          <label class="has-text-white">Password: </label>
          <div class="control">
            <input class="input" type="password" placeholder="" />
          </div>
        </div>
      
        <button class="button has-text-white has-has-text-warning has-background-dark">LOGIN</button>
      </form>
      </center>
</body>
</html>